    <div id="error-area">
        <p id="error-message">You must enter text to post</p>
    
        <a id="newtitle"><textarea id="title-input" cols="50" minlength="20" placeholder="Title"></textarea></a>
        <a><textarea id="body-input" rows="4" cols="50" minlength="20" placeholder="Body content..."></textarea></a>
    
    <button class="loader"id="submit-post">
    <div class="ispinner" id='loaderSpinner'>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
    </div>
    Post
    </button>
    </div>