<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
  <script src="/photoCardTemplate.js"></script>
  <link rel="stylesheet" media="all" href="ispinner.prefixed.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div id="site-editor">{{> siteEditor }}</div>
  
  <div id="editable-site">
  <div id="navbar">
    <h2 class="site-title" id="site-title"><a href="/">{{siteTitle}}</a></h2>
    <p class="new-post"><a id="new-post">New Post</a></p>
  </div>

  <div id="new-post-modal">{{> newPost }}

  </div>
<!-- </div> -->
  <div class="content" id="content">
    <div id="post-content">
      {{{body}}}
    </div>
  </div>
</body>
    <script src="script.js"></script>
</html>
